@{
  Layout = "_Layout";
}

<h1>Welcome to Epicodus Library</h1>

<p><em>Your one go-to for your literature needs.</em></p>

<p>@Html.ActionLink("Search for a Book", "Index", "Search")</p>

<p>@Html.ActionLink("View All Of Our Books", "Index", "Books")</p> 
<p>@Html.ActionLink("Look At The Book Catalog", "Index", "Catalogs")</p>
<p>@Html.ActionLink("Create An Account", "Index", "Account")</p>